@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body-content {
  flex: 1;
  overflow-y: auto; 
  padding-top: 60px; 
  padding-bottom: 60px; 
  -webkit-overflow-scrolling: touch;
  height: 440px;
}

.mobile-footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
}
.body-content-footer{
  display: none;
}

@media (max-width: 600px) {
  .navbar {
    padding: 10px;
  }

  .body-content {
    padding-top: 0px; 
    padding-bottom: 50px; 
  }

  .mobile-footer {
    padding: 10px;
  }
  .body-content-footer{
    display: block;
  }
} */
